@font-face{
    font-family: "Lora";
    src: url("/Lora-Regular.woff");
}

@font-face{
    font-family: "Lora";
    font-weight: bold;
    src: url("/Lora-Bold.woff");
}

@font-face{
    font-family: "Lora";
    font-style: italic;
    src: url("/Lora-Italic.woff");
}

@font-face{
    font-family: "Lora";
    font-weight: bold;
    font-style: italic;
    src: url("/Lora-BoldItalic.woff");
}

*{
    font-family: Lora, serif;
    color: #1C1C1C;
}

.container{
    padding: 20px;
    margin: 0 auto;
    max-width: 600px;
}

.title-editor{
    font-weight: 700;
    font-size: 2em;
    width: 100%;
}

.body-editor{
    width: 100%;
}